.navbar {
  background-color: #f1356d;
  padding: 20px;
  z-index: 99;
  display: flex;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  align-items: center;
  margin: 0 auto 10px;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: #fff;
}

.navbar .links {
  margin-left: auto;
}

.navbar .links a{
  color: #fff;
}

.navbar .links a:hover {
  color: #f1356d;
  background-color: #fff;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #f1356d;
}